@media (max-width: 500px) {
  header nav ul {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  header nav ul li {
    display: block;
    margin: 10px 0;
  }
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, sans-serif;
  line-height: 1.5;
  background-color: #f4f4f4;
  padding: 20px;
}

header {
  background-color: #adb96e;
  padding: 15px 0;
  text-align: center;
}

header nav ul {
  list-style: none;
}

/* General styles for the menu */
header nav ul li {
  display: inline-block;
  margin: 0 15px;
}

header nav ul li a {
  color: white;
  text-decoration: none;
  font-weight: bold;
  padding: 10px 20px;
  display: inline-block;
}

/* Hover effect */
header nav ul li a:hover {
  background-color: #4caf50; /* Change to a darker green on hover */
  color: white;
}

/* Active effect */
header nav ul li a.active {
  background-color: #2e7d32; /* Change to an even darker green when active */
  color: white;
}

.video-section {
  margin: 20px 0;
  text-align: center;
  width: 100%;
  height: 100%;
}

.video-section img {
  max-width: 100%;
  height: 100%;
}

main {
  background: white;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

h1 {
  font-size: 24px;
  color: #333;
  margin-bottom: 10px;
  text-align: center;
}

p {
  margin: 10px 0;
  font-size: 16px;
  color: #555;
}

footer {
  text-align: center;
  padding: 15px 0;
  background-color: #adb96e;
  color: #fff;
  font-size: 14px;
}
