* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
}

body {
  background-color: #3166ff;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.container {
  background-color: #fff;
  padding: 30px;
  border-radius: 8px;
  width: 600px;
}

.registration-form h2 {
  font-size: 26px;
  margin-bottom: 20px;
  border: bottom 2px solid #3166ff;
  display: inline-block;
  padding: 5px;
}

.registration-form h3 {
  font-size: 18px;
  margin-bottom: 10px;
  padding-bottom: 5px;
}

.form-row {
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
}

.form-group {
  flex-basis: 30%;
}

.form-group label {
  display: block;
  font-weight: 100;
  margin-bottom: 5px;
}

.form-group input,
.form-group select {
  width: 100%;
  padding: 8px;
  border-radius: 4px;
  border: 1px solid #ccc;
}

.submit-btn {
  width: 30%;
  background-color: #2c5be7;
  color: white;
  padding: 10px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-size: 16px;
}

.submit-btn:hover {
  background-color: #3f61c4;
}
